* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

:root {
    --body: #151515;
    --body-2: #202020;
    --accent: #CD1818;
    --header: #101010;
    --header-logo-size: 140px;
}

body, html {
    background: url("https://cdn.discordapp.com/attachments/679791684548296735/1128463611455615037/body_bg.png")  top left repeat;;
    font-family: Open Sans,Tahoma,Verdana,Arial,Sans-Serif;
}

.header {
    background-color: var(--header);
}

.header img {
    display: flex;
    justify-content: center;
    height: var(--header-logo-size);
}

.header-nav {
    background-color: var(--body-2);
    padding: 0px 100px;
    border-bottom: 5px solid var(--accent);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-link {
    padding: 13.5px 15px;
    font-size: .92rem;
    transition: all 300ms ease-in-out;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-nav-link:hover {
    background-color: rgb(90,90,90);
    color: rgb(160,160,160);
}

.padding-wrapper {
    padding: 0px 100px;
}

.dark-section {
    background-color: #0a0a0a;
    padding: 12px;
    border: 1px solid #2a2a2a;
}

.dark-section h1 {
    font-size: .95rem;
    font-family: "Open Sans", sans-serif;
}

.subforum-hover {
    transition: all 300ms ease-in-out;
}

.subforum-hover:hover {
    background-color: rgba(205,205,205,0.3);
}

.dropdown {
    position: relative;
    transition: all 300ms ease-in-out;
}

.dropdown:hover {
    background-color: rgb(90,90,90);
    color: rgb(160,160,160);
}

.dropdown-items {
    position: absolute;
    top: 44px;
    left: 0px;
    width: 200px;
    background: var(--body-2);
    opacity: 0;
}

.wrapper  {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dropdown-links a {
    transition: all 300ms ease-in-out;
}

.dropdown-items a:hover {
    background-color: rgb(90,90,90);
    color: rgb(160,160,160);
}

/* Media queries */

@media only screen and (max-width: 1000px) {

    .padding-wrapper{
        padding: 0px 10px;
    }

    .header-nav {

    }

    .wrapper {
        display: block;
    }
}
/* tailwind style classes */

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}
